# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# python compiled code
*.pyc

# mod.sum
*.sum

# built file path
build/
outputs/